<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Saloane</title>
</head>
<body>
  <div class="salon-container">
    <!-- Butonul care va lansa cererea -->
    <button id="raportSaloaneBtn" (click)="loadRaportSaloane()">Raport saloane</button>
    
    <!-- Adăugăm un newline -->
    <br> <!-- Aceasta va adăuga un spațiu între buton și listă -->

  </div>

  <!-- Lista de saloane -->
  <ul id="saloaneList"></ul>
</body>
</html>
