<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sectii</title>
</head>
<body>
  <div class="sectie-container">
    <!-- Butonul care va lansa cererea -->
    <button id="raportSectiiBtn" (click)="loadRaportSectii()">Raport sectii</button>
    
    <!-- Adăugăm un newline -->
    <br> <!-- Aceasta va adăuga un spațiu între buton și listă -->

  </div>

  <!-- Lista de saloane -->
  <ul id="sectiiList"></ul>
</body>
</html>
