body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background: linear-gradient(135deg, #FFDEE9, #B5FFFC);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
}

.tratament-container {
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    border: 5px solid #845ec2;
}

.tratament-container h2 {
    margin-bottom: 20px;
    color: #ff6f91;
}

.tratament-container button {
    background-color: #845ec2;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.tratament-container button:hover {
    background-color: #ff6f91;
}
