body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background: linear-gradient(135deg, #FFDEE9, #B5FFFC);
    display: flex;
    justify-content: flex-start; /* Aliniază butonul sus pe axa verticală */
    align-items: center; /* Centrează butonul pe axa orizontală */
    height: 100vh;
    margin: 0;
    padding-top: 0px;
    flex-direction: column; /* Organizează elementele într-o coloană */
}

.medic-container {
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    border: 5px solid #845ec2;
}

.medic-container h2 {
    margin-bottom: 20px;
    color: #ff6f91;
}

.medic-container button {
    background-color: #845ec2;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.medic-container button:hover {
    background-color: #ff6f91;
}

#mediciList {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
}

#mediciList li {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0; /* Spațiu între elemente */
}

#mediciList li:nth-child(odd) {
    background-color: #ffe0e0; /* Culoare mai deschisă pentru elementele impare */
}

#mediciList li:nth-child(even) {
    background-color: #ffb3b3; /* Culoare mai închisă pentru elementele pare */
}
