<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medici</title>
</head>
<body>
  <div class="medic-container">
    <!-- Butonul care va lansa cererea -->
    <button id="raportMediciBtn" (click)="loadRaportMedici()">Raport medici</button>
    
    <!-- Adăugăm un newline -->
    <br> <!-- Aceasta va adăuga un spațiu între buton și listă -->

  </div>

  <!-- Lista de medici -->
  <ul id="mediciList"></ul>
</body>
</html>
