
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>

  <script>
    function validateForm() {
        const username = document.getElementById('username').value.trim();
        const password = document.getElementById('password').value.trim();
        const loginButton = document.getElementById('loginButton');

        loginButton.disabled = username === '' || password === '';
    }
  </script>
</head>
<body>
<div class="login-container">
  <h2>Autentificare</h2>
  
  <label>Email:</label>
  <input type="email" placeholder="Introduceți email-ul" (input)="updateEmail($event)" />

  <label>Parolă:</label>
  <input type="password" placeholder="Introduceți parola" (input)="updatePassword($event)" />

  <button (click)="login()">Login</button>

 
  <p *ngIf="token" class="token-display">Token: {{ token }}</p> <!-- Token afișat la început -->
  
  <!-- Afișează mesajul de eroare dacă există -->
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  <p>Nu ai cont? <a href="/register">Inregistreaza-te</a></p>
  
</div>
</body>
</html>
