<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Asistente</title>
</head>
<body>
  <div class="asistenta-container">
    <!-- Butonul care va lansa cererea -->
    <button id="raportAsistenteBtn" (click)="loadRaportAsistente()">Raport asistente</button>
    
    <!-- Adăugăm un newline -->
    <br> <!-- Aceasta va adăuga un spațiu între buton și listă -->

  </div>

  <!-- Lista de asistente -->
  <ul id="asistenteList"></ul>
</body>
</html>
