<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curs valutar</title>
  <style>
    .cursvalutar-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
      background-color: #f7f7f7;
    }
  </style>
</head>
<body>
  <div class="cursvalutar-container">
    <!-- Curs valutar BNR -->
    <iframe style="width: 600px; height: 100px;" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" 
        src="https://www.cursbnr.ro/insert/cursvalutar.php?w=200&b=f7f7f7&bl=dcdcdc&ttc=0a6eab&tc=000000&diff=1&ron=1&cb=1&pics=1">
    </iframe>
  </div>
</body>
</html>
