<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>

</head>
<h1>Home</h1>
<body>

<div class="home-container">
  <!-- 6 butoane identice pe orizontală -->
  <a href="http://localhost:4200/medic"><button>Medici</button></a>
  <a href="http://localhost:4200/asistenta"><button>Asistente</button></a>
  <a href="http://localhost:4200/pacient"><button>Pacienti</button></a>
  <a href="http://localhost:4200/salon"><button>Saloane</button></a>
  <a href="http://localhost:4200/sectie"><button>Sectii</button></a>
  <a href="http://localhost:4200/tratament"><button>Tratamente</button></a>
</div>

<!-- Butonul Login -->
<div class="login-container">
  <a href="http://localhost:4200/login"><button>Login</button></a>
</div>

</body>
</html>
